@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    padding: 1.2%;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -15px;
}

.nav-link {
    top: 0;
}

@media screen and (max-width: 575px) {
    .nav-item {
        border-radius: 50%;
        width: 6em;
    }
}

.nav-item {
    border-radius: 50%;
    box-shadow: white;
}


/* ends here */


/* footer */

#footerbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    position: fixed;
    z-index: 12;
    background-color: transparent;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: -40px;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.href:hover {
    color: #20c997;
}

a:hover {
    color: #20c997;
}

div {
    transition-property: width;
}


/* my-5 rounded mx-auto d-block pic */


/* landing */

.landing {
    background-position: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
    background-image: url(/images/darkimg.jpg);
}

.bit {
    font-size: larger;
    font-style: italic
}

.bimage {
    background-image: url(/images/darkimg.jpg);
    background-position: 0%;
    object-fit: cover;
    color: black;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    align-items: center;
    font-weight: bolder;
}

h5 {
    font-size: large;
    font-weight: bold;
}

.animate {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
}

.pic {
    width: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-attachment: fixed;
}

#about {
    height: 100%;
    overflow: auto;
}

.well {
    min-height: 100px;
    padding: 1.2px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

section {
    height: 100%;
    overflow: auto;
}


/* ends */


/* education */

.edufont {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


/* contact */

.spc {
    margin-bottom: 30px;
    font-size: large;
    justify-content: flex-start;
}

.photo {
    align-items: center !important;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
}

.pics {
    width: 25%;
    height: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0px;
}

.mrg {
    margin-right: 0px !important;
}

.icons {
    margin-right: 10px;
}


/* inline */

.inline {
    justify-content: space-around;
}

.border-warning {
    height: 300px;
    min-width: auto;
}

.progress-bar {
    height: 2.5px;
}

.progress {
    height: 5px;
    line-height: 0.1;
}

.btn-primary {
    align-items: center;
}


/* test */

h3 {
    padding: 24px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(245, 83%, 46%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}

h5 {
    padding: 24px;
    background: linear-gradient(to left, hsl(232, 59%, 13%) 0, hsl(118, 97%, 50%) 10%, hsl(0, 82%, 57%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
}