@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}


/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    padding: 1.2%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e9ecef;
}

.nav-link {
    border: white;
    background-color: black;
    top: 0;
}

.nav-item {
    margin: 4px;
    border-radius: 50%;
}


/* ends here */


/* footer */

#footerbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    position: fixed;
    z-index: 12;
    background-color: transparent;
    right: 0;
    left: 0;
    bottom: -0.1%;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 2px;
}


/* my-5 rounded mx-auto d-block pic */


/* landing */

.landing {
    background-position: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
    background-image: url(/images/darkimg.jpg);
}

.bimage {
    background-image: url(/images/darkimg.jpg);
    background-position: 0%;
    object-fit: cover;
    color: black;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    align-items: center;
}

.animate {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
}

.pic {
    width: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-attachment: fixed;
}

#about {
    height: 100%;
    overflow: auto;
}

.well {
    border: solid #f8f9fa;
    padding: 1.2px;
    margin-bottom: 4px;
    box-shadow: black;
    box-sizing: border-box;
}

section {
    height: 100%;
    overflow: auto;
}


/* ends */


/* education */

.edufont {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


/* contact */

.spc {
    margin-bottom: 30px;
    font-size: large;
    justify-content: flex-start;
}

.photo {
    align-items: center !important;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
}

.caropic {
    width: 50%;
    height: 60%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0;
}

.mrg {
    margin-right: 0px !important;
}

.icons {
    margin-right: 10px;
}